

<%# if @repository.present? %>
  <h1><%= @repository[:name] %></h1>
  <p><%= @repository[:description] %></p>
  <p>⭐ Stars: <%= @repository[:stargazerCount] %></p>
  <p>Owner: <%= @repository[:owner] %></p>
<%# else %>
<!--  <p>Repository not found.</p>-->
<%# end %>



<%= link_to 'Back to Repositories', repositories_path %>